<% title %Q{Listing certification marks for #{@certification}} %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.formtastic.certification_mark input, .formtastic.certification_mark textarea').live('change', function() {
        $(this).closest('form').submit();
      });
    });
  </script>
<% end %>

<ul class="skill_types">
  <% SkillType.by_certification(@certification).each do |skill_type| %>
    <%= content_tag_for(:li, skill_type) do %>
      <h2><%= skill_type.name %></h2>

      <ul class="skill_types_list">
        <% (@skills_by_skill_type[skill_type.id] || []).each do |skill| %>
          <%= content_tag_for(:li, skill, :class => cycle ('odd', 'even')) do %>
            <div class="skill_desc"><%= skill.description %></div>

            <%= div_for(skill, :form) do %>
              <%= semantic_form_for([@user, @certification, @certification_marks[skill.id]], :remote => true) do |form| %>
                <%= form.inputs do %>
                  <%= form.input :skill_id, :as => :hidden %>
                  <%= form.input :mark, :as => :radio, :collection => CertificationMark::MARKS %>
                  <%= form.input :comment %>
                <% end %>
                <%= form.buttons %>
              <% end %>
            <% end %>
            
          <% end %>
        <% end %>
      </ul> 
    <% end %>
  <% end %>
</ul>

