<% title %Q{Listing certification marks for #{@certification}} %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.formtastic.certification_mark input, .formtastic.certification_mark textarea').live('change', function() {
        $(this).closest('form').submit();
      });
    });
  </script>
<% end %>


<ul class="skill_types">
  <% SkillType.by_certification(@certification).each do |skill_type| %>
    <%= content_tag_for(:li, skill_type) do %>
      <h2><%= skill_type.name %></h2>
      <ul class="skill_types_list">
        <li class="skill title">
          <div class="skill_desc">Skill description</div>
          <div class="form_skill"><div class="inputs"><ol><li class="radio">Mark</li><li class="text">Comment</li></ol></div></div>
        </li>
        <% skill_type.skills.by_position(@certification.position).each do |skill| %>

          <%= content_tag_for(:li, skill) do %>
            <div class="skill_desc"><%= skill.description %></div>

            <%= div_for(skill, :form) do %>
              <%= render 'form', :resource => @certification.certification_marks.find_or_initialize_by_user_id_and_skill_id(current_user.id, skill.id) %>
            <% end %>

          <% end %>
        <% end %>
      </ul> 
    <% end %>
  <% end %>
</ul>

