<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @skill.position_id %>
</p>

<p>
  <b>Skill:</b>
  <%= @skill.skill_id %>
</p>

<p>
  <b>Description:</b>
  <%= @skill.description %>
</p>


<%= link_to 'Edit', edit_position_skill_path(@skill) %> |
<%= link_to 'Back', position_skills_path %>
