<% title %Q{Certification report for #{@certification}} %>

<ul>
  <% SkillType.by_certification(@certification).each do |skill_type| %>
    <%= content_tag_for(:li, skill_type) do %>
      <h2><%= skill_type.name %></h2>
      <ul>
        <% skill_type.skills.by_position(@certification.position).each do |skill| %>
          <%= content_tag_for(:li, skill) do %>
            <h3><%= skill.description %></h3>

            <% if @certification_marks_by_skills[skill.id] %>
              <ul>
                <% @certification_marks_by_skills[skill.id].each do |mark| %>
                  <%= content_tag_for(:li, mark) do %>
                    <strong><%= mark.user.full_name %></strong>: <%= mark %> <%= mark.comment %>
                  <% end %>
                <% end %>
              </ul>
            <% else %>
              No one has rated this skill
            <% end %>

          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>

