<% title %Q{Certification report for #{@certification}} %>


<table class="report">
  <thead>
  <tr>
    <td>
      Skill
    </td>

    <% @certification.all_experts.each do |expert| %>
      <td class="aligncenter">
        <%= expert.full_name.html_safe.gsub(' ', '&nbsp;') %>
      </td>
    <% end %>
    
  </tr>
  </thead>

  <% SkillType.by_certification(@certification).each do |skill_type| %>

    <%= content_tag_for(:tbody, skill_type) do %>
      <tr>
        <th colspan="<%= @certification.all_experts.size + 1 %>" class="title">
          <%= skill_type.name %>
        </th>
      </tr>

      <% (@skills[skill_type.id] || []).each do |skill| %>
        <%= content_tag_for(:tr, skill, :class => cycle ('odd', 'even')) do %>
          <td class="desc">
            <%= skill.description %>
          </td>

          <% @certification.all_experts.each do |expert| %>
            <% if @certification_marks_by_skills[skill.id].present? && @certification_marks_by_skills[skill.id][expert.id].present? %>

              <% mark = @certification_marks_by_skills[skill.id][expert.id] %>

              <%= content_tag_for(:td, mark, :class => mark.to_s) do %>
                <!-- <%= mark %>: -->
                <span><%= mark.comment %></span>
              <% end %>
            <% else %>
              <td class="certification_mark none">
                <span>No mark</span>
              </td>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
